# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a39bf8f1f3ef2088b10ee40543b6e2d8f94b27d7166e91101516bfac47d983c2b6686086cd208e290406f087637510f60248caad08d03711f7211452e26b0141

test:
  secret_key_base: b6a1f5cb760f65be39055cdeb12216c656ad9cf9ca6ac823fe2a0941f4286d09c0afbd51c7f8402dc5eb49235cad2ce2846b41aa6bf841ae3ce5d1719ba2178c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
